/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 15px;
  }
  #nav {
    flex-direction: column;
  }
  .nav-item {
    margin-top: 20px;
  }

  .banner-part {
    flex-direction: column-reverse;
    background-image: none;
    height: 100%;
  }
  .banner-content {
    width: 90%;
    text-align: center;
  }

 
  .popular-items-container {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 30px;
  }
  .feature-container {
    flex-direction: column-reverse;
    padding: 20px;
    text-align: center;
  }
  .feature-content {
    width: 100%;
  }
  .feature-img {
    width: 100%;
    margin-top: 20px;
  }
  .sponsor-part {
    margin: 0;
  }
  .sponsor-items {
    grid-template-columns: repeat(4, 1fr);
    border: none;
  }
  .sponsor-items img {
    width: 70px;
    padding: 10px 0;
    margin: 0 auto;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 35px;
  }
  p {
    font-size: 15px;
  }
  #nav {
    flex-direction: column;
  }
  .nav-item {
    margin-top: 20px;
  }

  .banner-part {
    flex-direction: column-reverse;
    background-image: none;
    height: 100%;
  }
  .banner-content {
    width: 90%;
    text-align: center;
  }

 
  .popular-items-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
  .card-title {
    font-size: 20px;
  }
  .popular-card {
    width: 250px;
    margin: 20px auto;
  }
  .feature-container {
    flex-direction: column-reverse;
    padding: 20px;
    text-align: center;
  }
  .feature-content {
    width: 100%;
  }
  .feature-img {
    width: 100%;
    margin-top: 20px;
  }
  .sponsor-part {
    margin: 0;
  }
  .sponsor-items {
    grid-template-columns: repeat(4, 1fr);
    border: none;
  }
  .sponsor-items img {
    width: 100px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 15px;
  }
  #nav {
    flex-direction: column;
  }
  .nav-item {
    margin-top: 20px;
  }

  .banner-part {
    flex-direction: row;
    background-image: none;
    height: 100%;
  }
  .banner-content {
    width: 80%;
    margin: 0 auto;
    padding-left: 20px;
  }

 
  .popular-items-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
  }
  .popular-card {
    width: 200px;
    margin: 20px auto;
  }
  .feature-container {
    padding: 20px;
    gap: 10%;
  }
  .feature-content {
    width: 70%;
  }
  .feature-img {
    width: 50%;
  }
  .sponsor-part {
    margin: 0;
  }
  .sponsor-items {
    grid-template-columns: repeat(4, 1fr);
    border: none;
  }
  .sponsor-items img {
    width: 100px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* No media query since the extra-large breakpoint has no upper bound on its width */
